# Compiled python files
*.pyc

# Python cache
__pycache__

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out


# Temporary files
*~

# Local config files
instance/

# Local TODO
TODO

# Eggs
*.egg-info*
.egg

# Test generated
.idea

# vim swap files
*.swp
